@use './tabs';
@use './pages';
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");

@import "./tracks_list.scss";

:root {
  --main-bg-color: #fff;
  --main-text-color: #001700;
  --support-bg-color: #f7f7f7;

  --mask-color: 204, 204, 204;

  --white: #f7f7f7;
  --grey: #cccccc;
  --blue: #519aec;

  --discover-tags-section-height: 340px;
  --artists-artists-list-section-height: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #fff;
    --main-bg-color: #121212;
    --mask-color: 0, 0, 0;
    --support-bg-color: #1f1f1f;
    --grey: #1b1b1b;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

  &::-webkit-scrollbar {
    height: 7px;
    overflow: hidden;
  }

  &::-webkit-scrollbar-thumb {
    background: #9999;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: var(--support-bg-color);
    transition: all 0.5s ease;
  }
}

body {
  background-color: var(--main-bg-color);
  transition: background 0.5s ease;
}

html {
  color: var(--main-text-color);
  transition: color 0.5s ease;
}

#root {
  min-height: 100vh;
}
